div.none { margin: 3px; }
div.none p { padding: 0; margin: 0 0 8px 0; line-height: 10pt; font-size: 0.8em; }

@media all and (max-width: 50em) {
	.my-breakpoint .ui-block-a, 
	.my-breakpoint .ui-block-b, 
	.my-breakpoint .ui-block-c,
	.my-breakpoint .ui-block-d,
	.my-breakpoint .ui-block-e { 
		width: 100%; 
		float:none; 
	}
}

